server {
	listen 80 default_server;
	server_name _;

	location / {
		uwsgi_pass localhost:5000;
		include uwsgi_params;
	}
	location /prometheus {
		proxy_pass http://KnOMM-2:9090;	
	}
	location /grafana {
		proxy_set_header Host $http_host;
		proxy_pass http://KnOMM-1:3000;
	}
}

server {
	listen 8080 default_server;
	location = /stub_status {
    		stub_status;
	}
}
