# # config file version
apiVersion: 1

datasources:
 - name: Prometheus
   type: prometheus
   access: proxy
   orgId: 1
   uid: aadf164c-8b6d-484c-854b-75d729fdc09a
   url: http://KnOMM-2:9090/prometheus
   version: 1
   editable: false
