# # config file version
apiVersion: 1

datasources:
 - name: Prometheus
   type: prometheus
   access: proxy
   orgId: 1
   uid: aadf164c-8b6d-484c-854b-75d729fdc09a
   url: http://KnOMM-2:9090/prometheus
   version: 1
   editable: false

 - name: InfluxDB
   type: influxdb
   access: proxy
   uid: e4a40cd2-b759-4cc6-81b1-a2ad1b40e0c0
   url: http://{{influx_host}}:8086
   database: latency
   editable: false

 - name: InfluxDB Telegraf
   type: influxdb
   access: proxy
#   orgId: 1
   uid: PDCDB4A7A00C1AF06
   url: http://{{influx_host}}:8086
   database: telegraf
   editable: false