[security]

disable_initial_admin_creation = false
admin_user = KnOMM
admin_password = {{grafana_password}}
[server]
root_url = http://{{ansible_host}}:{{machine1|int +58}}/grafana/
serve_from_sub_path = true
