$TTL	604800
{{startup_name}}.	IN	SOA	KnOMM.{{startup_name}}. nazar.{{startup_name}}. (
			      2		; Serial
			 604800		; Refresh
			  86400		; Retry
			2419200		; Expire
			 604800 )	; Negative Cache TTL
;

{% for dns in groups['dns_servers'] %}
{{startup_name}}. IN NS {{dns}}.{{startup_name}}.
{% endfor %}

{%- for zone in groups['all'] %}
{{zone}} IN A {{ hostvars[zone]['ansible_facts']['default_ipv4']['address'] }} 
{% endfor %} 
