$TTL	604800
168.192.in-addr.arpa.	IN	SOA	KnOMM-2.{{startup_name}}. nazar.{{startup_name}}. (
			      2		; Serial
			 604800		; Refresh
			  86400		; Retry
			2419200		; Expire
			 604800 )	; Negative Cache TTL
;

{% for dns in groups['dns_servers'] %}
168.192.in-addr.arpa. IN NS {{dns}}.{{startup_name}}.
{% endfor %}

{%- for zone in groups['all'] %}
{{ (hostvars[zone]['ansible_default_ipv4']['address']|split('.'))[3] }}.{{ (hostvars[zone]['ansible_default_ipv4']['address']|split('.'))[2] }}  IN PTR {{zone}}.{{startup_name}}.
{% endfor %} 
