
global:
  scrape_interval:  15s # Set the scrape interval to every 15 seconds. Default is every 1 minute
  evaluation_interval: 15s # Evaluate rules every 15 seconds. The default is every 1 minute
scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 5s
    scrape_timeout: 5s

    metrics_path: /prometheus/metrics
    static_configs:
      - targets: ['localhost:9090']

{% for job in prometheus_jobs %}
  - job_name: '{{job.name}}'
    static_configs:
      - targets:
{% for host in groups[job.target_group] %}
        - {{host}}:{{job.target_port}}
{% endfor %}
{% endfor %}

